@media(max-width:768px){
    .menu{
        display:none;
    }
    .menu_icon{
        display: block;
        
    }


    .header_row {
        padding-left: 16px;
        padding-right: 16px;
    }

    .biography{
        flex-direction: column-reverse;
    }

    .biography_img{
        box-shadow: none;
    }

    .about_me {
        justify-content: center;
        align-items: center;
    }

    .about_me_2{
        flex-direction: column;
    }

    .about_me_2 img{
        box-shadow: none;
    }


    .experience_items_item{
        width: 304px;
        flex-direction: column;
        padding: 32px;
        font-size: 16px;
        height: auto;
    }

    .experience_items_item ul {
        width: 279px;
    }


    .about_me_h3{
        width: 343px;
        padding: 16px;
        flex-wrap: wrap;
        min-width: 343px;
    }

    .skills_items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 30px;
        justify-content: center;
        align-items: center;
    }

    .skills_items_row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 73px;
        justify-content: flex-start;
        align-items: center;

    }

    .work {
        align-items: normal;
    }

    .adaye{
        flex-direction: column;
        justify-content: center;
    }

    .adaye_revers{
        flex-direction: column;
        justify-content: center;
    }

    .adaye_h4_and_p{
        padding-left: 32px;
        gap: 24px;
    }

    .adaye_p{
        width: 279px;
        
    }

    .adaye_h4_and_p2{
        width: 279px;
    }

    .adaye_logo{
        display: flex;
        justify-content: center;
        width: auto;
    }

    .adaye_logo img{
        transform: scale(0.8);
        
    }
    
}